* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 6rem;
  font-family: "Roboto", sans-serif;
}
nav h1 {
  margin-right: 3rem;
}
nav input {
  width: 20rem;
}
nav button {
  font-family: inherit;
  padding: 0.5rem;
  font-size: 1rem;
}
.nav-logo-search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 2rem;
}
.nav-login-create {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 2rem;
}
.post {
  display: flex;
  padding: 15px;
  border: 3px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.post__content {
  padding-right: 20px;
}
.input_field {
  margin-top: 4rem;
}
